.notification {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    left: 0;
    justify-content: center;
    display: flex;
}

.notification .bubble {
    background-color: rgb(209 249 236 / 60%);
    border-radius: 12px;
    padding: 24px;
    width: 50vw;
    color: black;
    font-family: 'Pixel';
    font-size: 44px;
    display: flex;
    justify-content: space-between;
    animation: appear 200ms 1 steps(2, end);
    animation-timing-function: ease;
}

.notification .bubble .image {
    margin-right: 12px;    
}
.notification .bubble .text {
    display: flex;
    flex-direction: column;
}

@keyframes appear {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}