.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}
.overlay.hidden {
    display: none;
}
.overlay .text {
    font-size: 82px;
    font-family: 'Pixel';
    color: white;
    max-width: 100vw;
    padding: 0 24px;
    text-align: center;
}

.overlay .countdown {
    display: block;
    margin-top: 24px;
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-size: 82px;
}