.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.overlay.hidden {
    display: none;
}
.overlay .text {
    font-size: 82px;
    font-family: 'Pixel';
    color: white;
}
